<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des equipes :</title>
</head>
<body>
    <h1>Salut, dresseur de pokemons ! Voici la liste des équipes actuellement disponibles, sur le Pokédex</h1>
    <ul>
        {% for equipe in liste_des_objets_du_domaine_equipes %}
            <li><a href="{% url 'display_team' equipe.nom %}">Voir le détail de l'équipe {{ equipe.nom }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'display_pokemon' 1 %}">Retour à la page d'accueil</a>
</body>
</html>