<!DOCTYPE html>
<html lang="fr">
    {% include "pokemon/subtemplates/page_head.html" %}
    <body>
        <h1>Salut, dresseur de pokemons ! Voici la liste des équipes auxquelles tu peux ajouter ton Pokémon :</h1>
        <form action="{% url 'add_to_team' %}" method="post">
            {% csrf_token %}
            <input name="id_pokemon" type="hidden" value="{{ id_pokemon }}">
            {% for equipe in liste_des_objets_du_domaine_equipes %}
                <button name="equipe" type="submit" value="{{ equipe.nom }}">Ajouter le Pokémon à l'équipe {{ equipe.nom }}</button>
            {% endfor %}
        </form>
        <a href="{% url 'display_pokemon' 1 %}">Retour à la page d'accueil</a>
    </body>
</html>