<!DOCTYPE html>
<html lang="en">
    {% include "pokemon/subtemplates/page_head.html" %}
    <body>
        {% include "pokemon/subtemplates/pokemon_search_form_subtemplate.html" %}
        <table>
            {% include "pokemon/subtemplates/pokemon_display_table_heading.html" %}
            <tbody>
            {% include "pokemon/subtemplates/pokemon_display_table_body.html" %}
            </tbody>
        </table>
        <a href="{% url 'display_pokemon' 1 %}">Retour à la page d'accueil</a>
    </body>
</html>