{% load static %}
{% load pokemon_app_custom_filter %}
<!DOCTYPE html>
<html lang="fr">
    {% include "pokemon/subtemplates/page_head.html" %}
    <body>
        <section>
            {% include "pokemon/subtemplates/pokemon_search_form_subtemplate.html" %}
            <table>
                {% include "pokemon/subtemplates/pokemon_display_table_heading.html" %}
                <tbody>
                {% include "pokemon/subtemplates/pokemon_display_table_body.html" %}
                </tbody>
            </table>
            <a href="{% url 'lister_equipes_pokemon_pour_ajout' pokemon.numero_pokedex %}">Ajouter a une équipe</a>
            <a href="{% url 'consult_teams' %}">Regarder les équipes de pokémons</a>
        </section>
        {% if position_dans_la_liste > 1 %}
            <nav id="nav_1"><a href="{% url 'display_pokemon' position_dans_la_liste|add:-1  %}"><img src="{% static 'images/fleche_gauche.png' %}" alt="Pokémon suivant"></a></nav>
        {% endif %}
        {% if position_dans_la_liste < taille_de_la_liste %}
            <nav id="nav_2"><a href="{% url 'display_pokemon' position_dans_la_liste|add:1  %}"><img src="{% static 'images/fleche_droite.png' %}" alt="Pokémon suivant"></a></nav>
        {% endif %}
    </body>
</html>