<!DOCTYPE html>
<html lang="en">
    {% include "pokemon/subtemplates/page_head.html" %}
    <body>
        <table>
            {% include "pokemon/subtemplates/pokemon_display_table_heading.html" %}
            <tbody>
        {% for pokemon in equipe_recuperee.liste_pokemons %}
            {% include "pokemon/subtemplates/pokemon_display_table_body.html" %}
        {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'consult_teams' %}">Retour à la liste des Équipes</a>
        <a href="{% url 'display_pokemon' 1 %}">Retour à la page d'accueil</a>
    </body>
</html>