            <tr>
                <td><img class="pokemon-sprite" src="{{ pokemon.url_sprite }}" alt="Vue de face du Pokémon {{ pokemon.nom }}."></td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ pokemon.nom }}</td>
            </tr>
            <tr>
                <td>Generation</td>
                <td>{{ pokemon.generation.nom }}</td>
            </tr>
            <tr>
                <td>Poids</td>
                <td>{{ pokemon.poids }}</td>
            </tr>
