    {% include "pokemon/subtemplates/pokemon_search_form_subtemplate.html" %}
    <table>
        {% include "pokemon/subtemplates/pokemon_display_table_heading.html" %}
        <tbody>
        {% include "pokemon/subtemplates/pokemon_display_table_body.html" %}
        </tbody>
    </table>
