body {
    display: flex;
    flex-direction: row;
    background-color: #0a285f;
    color: #ffcc00;
}
button {
    border: #0075BE solid 1vh;
    background-color: #ffcc00;
}
section {
    width: 50%;
    flex-grow: 2;
    order: 2;
}
a {
    color: #ffcc00;
}

table, form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    width: 24ex;
}
#nav_1 {
    order: 1;
}
#nav_2 {
    order: 3;
}
.pokemon-sprite:hover {
    animation-name: rotating_pokemon;
    animation-duration: 3s;
}
@keyframes rotating_pokemon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
nav > a > img {
    width: 100%;
}
